{% if account != nil %}
	{% assign job = params.id | get_job %}
	{"status": "200", "job_status": "{{ job.status }}", "name": "{{ job.name }}"
	{% if job.status == "finished" %}
		{% if job.name == "get_items" %}
			, "created_items_count": "{{ job.data.created_items_count }}", "updated_items_count": "{{ job.data.updated_items_count }}", "deleted_items_count": "{{ job.data.deleted_items_count }}"
		{% endif %}
	{% else if job.status == "erred" %}
		{% if job.name == "order_items" %}
			, "error": "{{ job.data.error_message }}"
		{% endif %}
	{% endif %}
	}
{% endif %}