{% if account != nil %}

	{% assign items_job = "get_items" | create_job: company_id: account._id %}

	{% if items_job.error != nil %}
		<p>{{ l.job_not_started }}: {{ items_job.error }}</p>
	{% else %}
		<div id="items_job_status"></div>
		<script>
			var checkGetItems;

			checkGetItems = function(timeout) {
				return setTimeout((function() {
					timeout = Math.min(60000, timeout);
					return $.ajax({
						type: "get",
						dataType: "json",
						url: "{{ 'jobs__show' | path_for: id: items_job.job_id }}.json",
						success: function(data, status, xhr) {
							if (data === null) {
								return console.log("data is null");
							} else {
								$("#items_job_status").html(data.job_status);
								if (data.job_status === null || data.job_status === "in_progress") {
									return checkGetItems(timeout + 20);
								}
							}
						}
					});
				}), timeout);
			};

			checkGetItems(500);
		</script>
	{% endif %}

{% endif %}