{% if account != nil %}

	{% assign variants_query = "variants" | db_find: company_id: account._id %}

	{% if variants_query.results_count > 0 %}

		{% assign suppliers_query = "suppliers" | db_find: company_id: account._id %}

		{% if suppliers_query.results_count > 0 %}

			{% assign variants 	= variants_query.results | to_hash: "sku" %}
			{% assign matchups 	= nil | new_hash %}
			{% assign array 		= "" | split: " " %}

			{% for variant in variants %}
				{% assign matchups = matchups | push_to_hash: variant[0], array %}
			{% endfor %}

			{% assign suppliers = suppliers_query.results %}

			{% for supplier in suppliers %}

				{% assign inventory_response = "inventory" | webhook: url: supplier.url %}
				<p>inventory_response: {{ inventory_response }}</p>
				{% if inventory_response.code == 200 %}

					{% assign items_query = "items" | db_find: company_id: account._id, supplier_id: supplier._id %}
					{% assign items 			= items_query.results | to_hash: "sku" %}
					<p>items: {{ items }}</p>
					{% for response_item in inventory_response.body %}

						{% assign response_sku 		= response_item[0] | encrypt %}
						{% assign response_name 	= response_item[1].name | encrypt %}
						{% assign response_stock 	= response_item[1].stock %}
						{% assign response_price 	= response_item[1].price %}
						{% assign item 						= items[response_sku] %}

						{% if item == nil %}

							{% assign items_create = "create_item" | db_insert_one: company_id: account._id, sku: response_sku, name: response_name, stock: response_stock, price: response_price, supplier_id: supplier._id %}

						{% else %}

								{% assign name_test 	= item.name == response_name %}
								{% assign stock_test 	= item.stock == response_stock %}
								{% assign price_test 	= item.price == response_price %}

							 {% if name_test and stock_test and price_test %}
							 {% else %}

								{% assign items_update = "update_item" | db_update_one: company_id: account._id, _id: item._id, name: response_name, stock: response_stock, price: response_price %}

								<p>items_update: {{ items_update }}</p>
							{% endif %}

						{% endif %}
					{% endfor %}

					{% for item in items %}

						{% assign sku = item[0] | decrypt %}

						{% if inventory_response.body[sku] == nil %}
							{% assign item_deletion = "soft_delete_item" | db_update_one: company_id: account._id, _id: item._id %}
							<p>item_deletion: {{ item_deletion }}</p>
						{% endif %}

					{% endfor %}
				{% endif %}
			{% endfor %}

			{% assign skus = "" %}
			{% for variant in variants %}
				{% capture skus %}{{ skus }} {{ variant[0] }}{% endcapture %}
			{% endfor %}

			{% assign skus 									= skus | split: " " %}
			{% assign matchable_items_query = "matchable_items" | db_find: company_id: account._id, skus: skus %}
			{% assign matchable_items 			= matchable_items_query.results %}
			<p>matchable_items: {{ matchable_items }}</p>
			<p>matchups before: {{ matchups }}</p>
			{% for matchable_item in matchable_items %}
				{% assign sku = matchable_item.sku %}

				{% if matchups[sku] != nil %}
					{% assign item_ordered 	= matchable_item.ordered | plus: 0 %}
					{% if item_ordered > 0 %}
						{% assign variant 				= variants[sku] %}
						{% assign variant_ordered = variant.ordered | plus: 0 %}
						{% assign ordered 				= variant_ordered | plus: item_ordered %}
						<p>ordered: {{ ordered }}</p>
						{% assign variant 				= variant | push_to_hash: "ordered", ordered %}
						{% assign variants 				= variants | push_to_hash: sku, variant %}
					{% endif %}

					{% if matchable_item.stock != nil %}
						{% assign matchup_item 	= nil | new_hash: _id: matchable_item._id, supplier_id: matchable_item.supplier_id, price: matchable_item.price, stock: matchable_item.stock, ordered: matchable_item.ordered %}
						{% assign sku_matchups = matchups[sku] %}
						{% assign matchup_items = sku_matchups | push_to_array: matchup_item %}
						{% assign matchups 			= matchups | push_to_hash: sku, matchup_items %}
					{% endif %}
				{% endif %}
			{% endfor %}
			<p>matchups after: {{ matchups }}</p>


			{% assign suppliers_orders = nil | new_hash %}
			{% assign array 		= "" | split: " " %}

			{% for supplier in suppliers %}
				{% assign suppliers_orders = suppliers_orders | push_to_hash: supplier._id, array %}
			{% endfor %}

			{% for matchup in matchups %}
				{% if matchup[1].size > 0 %}
					{% assign sku 	= matchup[0] %}
					<p>sku: {{ sku }}</p>
					{% assign variant = variants[sku] %}
					{% assign stock 	= variant.stock | plus: 0 %}
					{% assign ordered = variant.ordered | plus: 0 %}
					{% assign missing = stock | plus: ordered %}
					<p>stock: {{ stock }}</p>
					<p>ordered: {{ ordered }}</p>
					<p>missing: {{ missing }}</p>
					{% for item in matchup[1] %}
						{% if 0 > missing %}
							{% assign purchase 						= missing | abs | at_most: item.stock %}
							{% if purchase > 0 %}
								<p>purchase: {{ purchase }}</p>
								{% assign missing 						= missing | plus: purchase %}
								{% assign purchased_item 			= nil | new_hash: item_id: item._id, sku: sku, amount: purchase %}
								<p>purchased_item: {{ purchased_item }}</p>
								{% assign item_supplier_id 		= item.supplier_id %}
								{% assign supplier_orders 		= suppliers_orders[item_supplier_id] | push_to_array: purchased_item %}
								<p>supplier_orders: {{ supplier_orders }}</p>
								{% assign suppliers_orders 		= suppliers_orders | push_to_hash: item.supplier_id, supplier_orders %}

								{% assign item_ordered = item.ordered | plus: 0 %}
								<p>item_ordered: {{ item_ordered }}</p>
								{% assign is_ordered = item_ordered | plus: purchase %}
								<p>is_ordered: {{ is_ordered }}</p>
								{% assign items_update 	= "order_item" | db_update_one: company_id: account._id, _id: item._id, ordered: is_ordered %}
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}

			<p>suppliers_orders: {{ suppliers_orders }}</p>
			{% for supplier in suppliers %}
				{% assign supplier_id 		= supplier._id %}
				{% assign suppliers_order = suppliers_orders[supplier_id] %}
				{% if suppliers_order != nil and suppliers_order.size > 0 %}
					{% assign send_result = "supplier_order" | send_email: to: supplier.email, display_name: "Please add to our order", supplier_order: supplier_order %}
					<p>send_result: {{ send_result }}</p>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endif %}
{% endif %}