<table class="table">
	<tbody>
		{% for supplier in job.data %}
			<tr>
				<td class="text-center" colspan="3">
					<b>{{ supplier.supplier_name }}</b>
				</td>
			</tr>
			<tr>
				<th>
					<b>{{ l.sku }}</b>
				</th>
				<th>
					<b>{{ l.name }}</b>
				</th>
				<th>
					<b>{{ l.amount }}</b>
				</th>
			</tr>
			{% for item in supplier.items %}
				<tr>
					<td>{{ item.sku }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.amount }}</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</tbody>
</table>